<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/mill-detail/{{_id}}"></ion-back-button>
      </ion-buttons>
      <ion-title>MillUser Edit</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <mat-card class="example-card">
        <form [formGroup]="mUserForm" (ngSubmit)="onFormSubmit()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="mUser name" formControlName="name"
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!mUserForm.get('name').valid && mUserForm.get('name').touched">Please enter name</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="mUser age" formControlName="age"
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!mUserForm.get('age').valid && mUserForm.get('age').touched">Please enter age</span>
            </mat-error>
          </mat-form-field>
          <div class="button-row">
            <button type="submit" [disabled]="!mUserForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
          </div>
        </form>
      </mat-card>
    </div>
  </ion-content>